@model IEnumerable<InventarioProductoTerminado.Models.InventarioProductoTerminado>
<html>
<head>
    <title>Fructa CR S.A</title>
    @*<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/img/flsf.png" type="image/x-icon" rel="shortcut icon" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    @*<script src="~script/jquery-1.10.2.min.js"></script>
        <script src="~script/jquery-validate.min.js"></script>
        <script src="~script/jquery-validate.unobtrusive.min.js"></script>*@
</head>

<body style="margin-top: 30px">
        <form class="form-horizontal" id="form1">
            <div class="container">
                <div class="row">
                    <div class="well well -sm">
                        <fieldset>
                            <table class="table table-hover" style="font-size: small">
                                <thead class="text-primary">
                                    <tr>
                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Id_Inventario_Producto_Terminado)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Tipo_Proceso)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Producto_Inicial)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Producto_Proceso)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Producto_Final)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Fecha_Inicial_Periodo)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Fecha_Final_Periodo)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Estado)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Usuario_Ingreso)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Fecha_Ingreso)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Usuario_Modificacion)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Fecha_Modificacion)
                                        </th>
                                    </tr>
                                </thead>

                                @foreach (var item in Model)
                                {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id_Inventario_Producto_Terminado)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tipo_Proceso)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Producto_Inicial)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Producto_Proceso)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Producto_Final)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha_Inicial_Periodo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha_Final_Periodo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Usuario_Ingreso)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha_Ingreso)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Usuario_Modificacion)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha_Modificacion)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Modificar", "modificarInventarioProductoTerminado", new { id = item.Id_Inventario_Producto_Terminado }) |
                                        @Html.ActionLink("Eliminar", "eliminarInventarioProductoTerminado", new { id = item.Id_Inventario_Producto_Terminado },
                           new { onclick = "return confirm('¿Está seguro de borrar el registro?'" })

                                    </td>
                                </tr>
                                }

                            </table>
                            <span>
                                @Html.ActionLink("Nuevo Registro", "agregarInventarioProductoTerminado", "", null,
                                              new { @class = "btn btn-primary btn.large" })
                            </span>
                        </fieldset>
                    </div>
                </div>
            </div>
        </form>
</body>

</html>