@model IEnumerable<Producto_No_Conforme.Models.ProductoNoConforme>
<html>
<head>
    <title>Fructa CR S.A</title>
    @*<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/img/flsf.png" type="image/x-icon" rel="shortcut icon" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    @*<script src="~script/jquery-1.10.2.min.js"></script>
        <script src="~script/jquery-validate.min.js"></script>
        <script src="~script/jquery-validate.unobtrusive.min.js"></script>*@
</head>

<body style="margin-top: 30px">
        <form class="form-horizontal" id="form1">
            <div class="container">
                <div class="row">
                    <div class="well well -sm">
                        <fieldset>
                            <table class="table table-hover" style="font-size: small">
                                <thead class="text-primary">
                                    <tr>
                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Id_Producto_No_Conforme)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.FK_Id_Articulo_SAP)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Lote_Producto)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Numero_Unidad)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Peso_Toneladas_Metricas)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Responsable)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Llenadora)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Empaque)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Tipo_Producto)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Fecha_Bloqueo)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Area_Bloqueo)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Naturaleza_Bloqueo)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Hallazgo)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Causa)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Codigo_Bloqueo)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Estado_Unidad)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Disposicion_Recomendada)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Estado)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Usuario_Ingreso)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Fecha_Ingreso)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Usuario_Modificacion)
                                        </th>

                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.Fecha_Modificacion)
                                        </th>
                                    </tr>
                                </thead>

                                @foreach (var item in Model){

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id_Producto_No_Conforme)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.FK_Id_Articulo_SAP)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Lote_Producto)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Numero_Unidad)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Peso_Toneladas_Metricas)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Responsable)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Llenadora)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Empaque)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tipo_Producto)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha_Bloqueo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Area_Bloqueo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Naturaleza_Bloqueo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hallazgo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Causa)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Codigo_Bloqueo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado_Unidad)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Disposicion_Recomendada)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Usuario_Ingreso)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha_Ingreso)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Usuario_Modificacion)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha_Modificacion)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Modificar", "modificarProductoNoConforme", new { id = item.Id_Producto_No_Conforme }) |
                                        @Html.ActionLink("Eliminar", "eliminarProductoNoConforme", new { id = item.Id_Producto_No_Conforme },
                                        new { onclick = "return confirm('¿Está seguro de borrar el registro?'" })

                                    </td>
                                </tr>
                        }

                            </table>
                            <span>
                                @Html.ActionLink("Nuevo Registro", "agregarProductoNoConforme", "", null,
                                                    new { @class = "btn btn-primary btn.large" })
                            </span>
                        </fieldset>
                    </div>
                </div>
            </div>
        </form>

    <footer style="text-align: center; background-color: #006bff; color: #ffffff">Fructa CR S.A</footer>

</body>

</html>