@model IEnumerable<CapaEntidades.DistribucionInventarioTanque>
<html>
<head>
    <title>Fructa CR S.A</title>
    @*<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/img/flsf.png" type="image/x-icon" rel="shortcut icon" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    @*<script src="~script/jquery-1.10.2.min.js"></script>
        <script src="~script/jquery-validate.min.js"></script>
        <script src="~script/jquery-validate.unobtrusive.min.js"></script>*@
</head>

<body style="margin-top: 30px">

    <div id="contenedor_carga">
        <div id="carga"></div>
    </div>

    <form class="form-horizontal" id="form1">
        <div class="container">
            <div class="row">
                <div class="well well -sm">
                    <fieldset>
                        <table class="table table-hover" style="font-size: small">
                            <thead class="text-primary">
                                <tr>
                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Id_Distribucion_Inventario_Tanque)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.FK_Id_Brix)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Numero_Tanque)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Litros)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Kilogramos_Tanque)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Estimado_Cantidad_Estañones)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Estimado_Cantidad_Bines)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Usuario_Ingreso)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Fecha_Ingreso)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Usuario_Modificacion)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Fecha_Modificacion)
                                    </th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id_Distribucion_Inventario_Tanque)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.FK_Id_Brix)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Numero_Tanque)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Litros)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Kilogramos_Tanque)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estimado_Cantidad_Estañones)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estimado_Cantidad_Bines)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Usuario_Ingreso)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha_Ingreso)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Usuario_Modificacion)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha_Modificacion)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Modificar", "modificarDistribucionInventarioTanque", new { id = item.Id_Distribucion_Inventario_Tanque }) |
                                        @Html.ActionLink("Eliminar", "eliminarDistribucionInventarioTanque", new { id = item.Id_Distribucion_Inventario_Tanque }, new { onclick = "return confirm('¿Está seguro de borrar el registro?'" })

                                    </td>
                                </tr>
                            }

                        </table>
                        <span>
                            @Html.ActionLink("Nuevo Registro", "agregarDistribucionInventarioTanque", "DistribucionInventarioTanque", null, new { @class = "btn btn-primary btn.large" })
                            @Html.ActionLink("Regresar", "Menu", "Menu", null, new { @class = "btn btn-primary btn-large" })
                        </span>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>

    <footer style="text-align: center; background-color: #006bff; color: #ffffff">Fructa CR S.A</footer>

    <script>

        window.onload = function () {
            var contenedor = document.getElementById('contenedor_carga');

            contenedor.style.visibility = 'hidden';
            contenedor.style.opacity = '0';
        }

    </script>

</body>

</html>