@model IEnumerable<CapaEntidades.Modulo>
<html>
<head>
    <title>Fructa CR S.A | Producción</title>
    @*<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/img/flsf.png" type="image/x-icon" rel="shortcut icon" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    @*<script src="~script/jquery-1.10.2.min.js"></script>
        <script src="~script/jquery-validate.min.js"></script>
        <script src="~script/jquery-validate.unobtrusive.min.js"></script>*@
</head>

<body style="margin-top: 30px">
    <form class="form-horizontal" id="form1">
        <div class="container">
            <div class="row">
                <div class="well well -sm">
                    <fieldset>
                        <table class="table table-hover" style="font-size: small">
                            <thead class="text-primary">
                                <tr>
                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Id_Modulo)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.FK_Id_Aplicacion)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Codigo)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Descripcion)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Controlador)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Estado_Accion)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Usuario_Ingreso)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Fecha_Ingreso)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Usuario_Modificacion)
                                    </th>

                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Fecha_Modificacion)
                                    </th>
                                </tr>
                            </thead>

                            @foreach (var item in Model){

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id_Modulo)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.FK_Id_Aplicacion)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Codigo)

                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Controlador)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Estado)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Estado_Accion)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Usuario_Ingreso)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha_Ingreso)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Usuario_Modificacion)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha_Modificacion)
                                </td>

                                <td>
                                    @Html.ActionLink("Modificar", "modificarModulo", new { id = item.Id_Modulo }) |
                                    @Html.ActionLink("Eliminar", "eliminarModulo", new { id = item.Id_Modulo },
                                    new { onclick = "return confirm('¿Está seguro de borrar el registro?'" })

                                </td>
                            </tr>
                            }

                        </table>
                        <span>
                            @Html.ActionLink("Nuevo Registro", "agregarModulo", "Modulo", null, new { @class = "btn btn-primary btn.large" })
                            @Html.ActionLink("Regresar", "Menu", "Menu", null, new { @class = "btn btn-primary btn-large" })
                        </span>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>

    <footer style="text-align: center; background-color: #006bff; color: #ffffff">Fructa CR S.A</footer>

</body>

</html>
