@model Aditivo.Models.Aditivo

@{
    ViewBag.Title = "Inserción de Aditivo";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/img/flsf.png" type="image/x-icon" rel="shortcut icon" />
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<title>Fructa CR S.A</title>

@using (Html.BeginForm()){

    @Html.AntiForgeryToken()

<div class="form-horizontal" style="margin-top: 30px">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Id_Aditivo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Id_Aditivo, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Id_Brix, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FK_Id_Proceso_BP_BJC, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FK_Id_Proceso_BP_BJC, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Bris, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Jugo_Limon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Jugo_Limon, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Densidad, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ascorbico, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ascorbico, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Densidad, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Citrico, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Citrico, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Liquiseb_RL_Concentrado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Liquiseb_RL_Concentrado, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Liquiseb_APL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Liquiseb_APL, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Densidad, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sebamyl_GL400, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Sebamyl_GL400, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Densidad, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sebamyl_BAL100, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Sebamyl_BAL100, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Flora_Clair, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Flora_Clair, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Id_Brix, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gelatina, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Gelatina, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Bris, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Bevasyl, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Bevasyl, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Densidad, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Bentonita, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Bentonita, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Densidad, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Carbon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Carbon, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Celite, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Celite, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HS_4000, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HS_4000, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Densidad, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Shenck_DD, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Shenck_DD, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Densidad, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HS_1000, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HS_1000, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HS_1600, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HS_1600, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Usuario_Ingreso, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Usuario_Ingreso, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Usuario_Ingreso, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fecha_Ingreso, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fecha_Ingreso, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Fecha_Ingreso, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Usuario_Modificacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Usuario_Modificacion, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Usuario_Modificacion, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fecha_Modificacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fecha_Modificacion, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.ValidationMessageFor(model => model.Fecha_Modificacion, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-success" />
            @Html.ActionLink("Regresar", "Listado", "", null, new { @class = "btn btn-primary btn-large" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="color:green">
            @ViewBag.Message
        </div>
    </div>
</div>
}

<script src="~/Script/jquery-1.12.4.min.js"></script>
<script src="~/Script/jquery.validate.min.js"></script>
<script src="~/Script/jquery.validate.unobtrusive.min.js"></script>

<script>

    $(document).ready(
        function () {
        $('.datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: "-99Y",
            dateFormat: "dd/mm/yyyy"
        });
    });

</script>