@model CapaEntidades.Persona

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/img/flsf.png" type="image/x-icon" rel="shortcut icon" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <title>Fructa CR S.A</title>
</head>

<body>

    <header>
        <h1><span id="logo"></span>Fructa CR S.A</h1>
    </header>

    <nav>
        <ul>
            <b>
                <li><a href="">MENÚ</a></li>
                @*@Html.ActionLink("Menú", "Menu", "Menu", null,
                    new { @class = "btn btn-primary btn.large" })*@
            </b>
        </ul>
    </nav>

    <section>

        <article class="menu">

            <h2>ACTUALIZAR PERSONA</h2>

            @using (Html.BeginForm())
    {
        <div class="form-horizontal">

            @Html.HiddenFor(model => model.Id_Persona)

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Primer_Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Primer_Apellido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Primer_Apellido, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Segundo_Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Segundo_Apellido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Segundo_Apellido, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Usuario_Ingreso, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Usuario_Ingreso, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Usuario_Ingreso, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fecha_Ingreso, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Fecha_Ingreso, new { htmlAttributes = new { @class = "datepicker" } })
                    @Html.ValidationMessageFor(model => model.Fecha_Ingreso, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Usuario_Modificacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Usuario_Modificacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Usuario_Modificacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fecha_Modificacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Fecha_Modificacion, new { htmlAttributes = new { @class = "datepicker" } })
                    @Html.ValidationMessageFor(model => model.Fecha_Modificacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Aceptar" class="btn btn-success" />
                    <input type="submit" value="Cancelar" class="btn btn-danger" />
                </div>

            </div>
        </div>

}

            <script src="~/Script/jquery-1.12.4.min.js"></script>
            <script src="~/Script/jquery.validate.min.js"></script>
            <script src="~/Script/jquery.validate.unobtrusive.min.js"></script>

            <script>

                $(document).ready(
                    function () {
                        $('.datepicker').datepicker({
                            changeMonth: true,
                            changeYear: true,
                            minDate: "-99Y",
                            dateFormat: "dd/mm/yyyy"
                        });
                    });

            </script>

        </article>

    </section>

    <footer>Fructa CR S.A © 2018</footer>

</body>

</html>

